<link rel="stylesheet" type="text/css" href="/index.css" />
<link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div id="dashboard-nav">
    <div id="icon-title">
        <a class="house-icon" href="/">
            <img class="house-icon" src="/images/houses_icon.png"></a>
        <h1 class="house-tracker">House Tracker</h1></div>
    <div id="links">
        <a href="#" class="houses">Houses &#8226;</a>
        <a href="/" class="logOut">LogOut</a></div>
</div>

<div id="images-div">
    <h1>Add all the info about your prospective house:</h1>
    <img src="/images/Screenshot1.png">
    <h1>Have a clear and organized way of seeing all your prospective houses in one place. Plus have the ability to share the list with someone else.</h1>
    <img src="/images/Screenshot2.jpg">
    <h1>Upload an image of the house.</h1>
    <img src="/images/Screenshot3.png">
    <h1>Have the ability to edit/delete afterwards.</h1>
    <img src="/images/Screenshot4.png">
    <h1>See what other uses have uploaded in the Hot Houses Section</h1>
    <img src="/images/Screenshot5.png">
</div>
<script src="/clickHandlers.js"></script>
