
<html>
<head>
        <link rel="stylesheet" type="text/css" href="index.css"/>
        <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500|Raleway" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
            <div id="dashboard-nav">
                <div id="icon-title"> <a class="house-icon" href="/">
                    <img class="house-icon" src="houses_icon.png">
                </a>
                <h1 class="house-tracker">House Tracker</h1></div>
                
                   <div id="links"><a href="#" class="about-page">About &#8226; </a>
                    <a href="/myaccount" class="myAccount">MyAccount &#8226; </a>
                    <a href="#"class="logOut">LogOut</a></div>
                
            </div>
        <div id="singleHouseInfoDiv">

        </div>


<div id="dashboard"></div> 
 <div id="houses-form" style="display:none;">
    <form id="createHouse" action="#">
        <input type="image" src="images/close.png" class="close-houses-form">
        <h1>Fill Out the details below:</h1>
        <span>House Name</span>
       <input type="text" id="house-name" name="house-name">
       <br>
       <br>
       <span>house price</span>
       <input type="text" id="house-price" name="house-price">
       <br>
       <br>
       <span>house location</span>
       <input type="text" id="house-location" name="house-location">
       <br>
       <br>
       <span>house details</span>
       <input type="text" id="house-details" name="house-details">
       <br> 
       <br>
       <span>
            <section>
                <label>How many bedrooms?</label>
                <select id="house-bedroom" class="house-bedroom" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
                </section>
                </span>
       <br>
       <br>
       <span>
            <section>
                <label>How many bathrooms?</label>
                <select id="house-bathroom" class="house-bathroom" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
                </section>
                </span>
       <br>
       <br>
       <span>
        <section>
            <label>Does it Have a garage?</label>
            <select id="house-garage" class="house-garage" required><option value="Yes">Yes</option>
            <option value="No">No</option></select>
            </section>
            </span>
            <br>
        <span>
        <section>
            <label>What Kind Of cooling</label>
            <select id="house-cooling" class="house-cooling" required>
                <option value="Central">Central</option>
            <option value="Other">Other</option></select>
        </section>
        </span>
        <br>
        <span>
        <section>
            <label>What kind of heating</label>
            <select id="house-heating" class="house-heating" required>
                <option value="Central">Central</option>
            <option value="Other">Other</option></select>
        </section>
        </span>
        <br>
        <span>
        <section>
            <label>Does it Have a pool?</label>
            <select id="house-pool" class="house-pool" required>
            <option value="Yes">Yes</option>
            <option value="No">No</option></select>
        </section>
        </span>
       <br>  
       <button type="submit" class="house-submit">Submit House</button>
       <button type="button" class="house-edit">Edit house</button>   
    </form>
 </div>

 <div id="add-house">
     <input type="image" src="images/add.png" id="adding-houses">
    <!-- <button type="button" id="adding-houses">Add</button> -->
</div>
 
 
 <div id="imageFormDiv" style="display:none;">
    <form id="imageForm" action="#">
    <span>House Name</span>
    <br>
    <input type="text" id="house-name" name="house-name">
    <br>
    <br>
    <input id="upload" type="file" class="upload" name="imgFront" accept="image/*" required="true" >
    <br>
    <br>
    <button type="submit" class="house-submit-upload">Submit House</button>
    <button type="button" class="house-upload-form-close">Close</button>
</form>
</div>
 
 <div id="house-list" >
    <h1>House Dashboard</h1>
     
     <ul id="houseList">
        </ul>
 </div>






</body>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="index.js"></script>
<script src="account.js"></script>
<script src="clickHandlers.js"></script>
<script src="http.js"></script>
<script src="dashboard.js" defer></script>
</html>
