<div id="imageFormDiv" style="display:none;">
    <h1>Upload Your Image:</h1>
        <form id="imageForm" action="#">
        <span>House Name</span>
        <br>
        <input type="text" id="house-name-for-image" name="house-name">
        <br>
        <br>
        <input id="upload" type="file" class="upload" name="imgFront" accept="image/*" required="true" >
        <br>
        <br>
        <button type="submit" class="house-submit-upload">Submit House</button>
        <button type="button" class="house-upload-form-close">Close</button>
    </form>
    </div>