<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="index.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   
	<title>Houses</title>
</head>
<body>
    <nav>
            <%- include navbar.ejs %>
    </nav>
  
    



<div id="page-info">
<h1>Title Goes Here</h1>
<p>     In the market for a new house or apartment? 
        <br>
        Keep track of all your favorite ones in one easy location
</p>
</div>
<div id="divs-container">
    <div id="div1">
            <img class="organized" src="organized.png"/>
    </div>

    <div id="div2">
            <img class="upload" src="upload.png"/>
    </div>
    <div id="div3">
            <img class="favorite" src="favorite.png"/>
    </div>
</div>







<footer>
        <%- include footer.ejs %>
</footer>
</body>
<script src="index.js"></script>
<!--<script src="dashboard.js"></script>-->
</html>