<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="index.css"/><link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500|Raleway" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   
	<title>Houses</title>
</head>
<body>
    
            <%- include navbar.ejs %>

  
    


<div id="page-info">
<div>
<h1>House Tracker</h1>
<p>     In the market for a new house or apartment? 
        <br>
        Keep track of all your favorite ones in one easy location

</div>
</div>
<div id="homepage-about">
        <h1>About</h1>
        <p>Finding and keeping track of all the houses/apartment that are on the market while looking into buying a new one can be quite difficult and tedious. 
              
                <br> Now you can keep all your favorite ones in one place and have ratings to go along with them to to find your perfect dream home!
        <br><br> Wanna know more? Click <a href="#">Here</a>
        </p>
</div>





<!--
<footer>
        <%- include footer.ejs %>
</footer>
-->
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="index.js"></script>
<script src="account.js"></script>
<script src="http.js"></script>

</html>