<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="index.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   
	<title>Houses</title>
</head>
<body>
    <nav>
            <%- include navbar.ejs %>
    </nav>
  
    


<div id="page-info">
<h1>House Tracker</h1>
<p>     In the market for a new house or apartment? 
        <br>
        Keep track of all your favorite ones in one easy location
</p>
</div>
<div id="divs-container">
    <div id="div1">
            <img class="organized" src="organized.png"/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet orci ut nisi sollicitudin faucibus. 
                    Suspendisse ullamcorper dui orci, vitae tempus ante tempus id. 
                    Mauris et tincidunt nulla. Fusce imperdiet odio a felis imperdiet, ac faucibus est efficitur. 
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; 
                    Proin in augue rhoncus nisl tristique tincidunt. Phasellus sodales mi a ante pellentesque, id luctus est dapibus. 
                    Aenean ornare sem et augue vehicula facilisis.</p>
    </div>

    <div id="div2">
            <img class="upload" src="upload.png"/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet orci ut nisi sollicitudin faucibus. 
                        Suspendisse ullamcorper dui orci, vitae tempus ante tempus id. 
                        Mauris et tincidunt nulla. Fusce imperdiet odio a felis imperdiet, ac faucibus est efficitur. 
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; 
                        Proin in augue rhoncus nisl tristique tincidunt. Phasellus sodales mi a ante pellentesque, id luctus est dapibus. 
                        Aenean ornare sem et augue vehicula facilisis.</p>
    </div>
    <div id="div3">
            <img class="favorite" src="favorite.png"/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet orci ut nisi sollicitudin faucibus. 
                        Suspendisse ullamcorper dui orci, vitae tempus ante tempus id. 
                        Mauris et tincidunt nulla. Fusce imperdiet odio a felis imperdiet, ac faucibus est efficitur. 
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; 
                        Proin in augue rhoncus nisl tristique tincidunt. Phasellus sodales mi a ante pellentesque, id luctus est dapibus. 
                        Aenean ornare sem et augue vehicula facilisis.</p>
    </div>
</div>







<footer>
        <%- include footer.ejs %>
</footer>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="index.js"></script>
<script src="http.js"></script>
<!--<script src="dashboard.js"></script>-->
</html>