
<html>
    <head>
    <link rel="stylesheet" type="text/css" href="index.css"/>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500|Raleway" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
            <div id="dashboard-nav">
                    <a class="house-icon" href="/">
                        <img class="house-icon" src="houses_icon.png">
                    </a>
                <a href="#"class="logOut">LogOut</a>
                <a href="/myaccount" class="myAccount">myAccount</a>
            </div>
            <div id="myAccountDiv">
                    <form id="myAcc" action="#">
                    <span>First Name</span>
                    <input type="text" id="first-name" name="first-name">
                    <br>
                    <span>Last Name</span>
                    <input type="text" id="last-name" name="last-name">
                    <button type="submit" class="submit-acc-details">Submit House</button>
                    
                </form>
                </div>
       

    </body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="index.js"></script>
<script src="http.js"></script>
<script src="dashboard.js" defer></script>
</html>