<nav>
    <div id="navBarLogo">
        <a class="house-icon" href="/" src="/images/houses_icon.png">
            <img class="house-icon" src="/images/houses_icon.png">
        </a>
        <h1 class="house-tracker">House Tracker</h1>
    </div>
    <div id="navbarLinks">

        <a href="/signin" class="sign-in">SignIn &#8226; </a>
        <a href="/register" class="register">Register</a> </div>

</nav>