<main>
        <nav>
            <a class="house-icon" href="/">
                <img class="house-icon" src="houses_icon.png">
            </a>
            <a href="./signin"class="sign-in">Sign In</a>
            <a href="/register"class="register">Register</a>            
        </nav>
    </main>