<main>
        <nav>
            <a class="house-icon" href="/">
                <img class="house-icon" src="houses_icon.png">
            </a>
            <h1 class="house-tracker">House Tracker</h1>
            <div id="navbarLinks"> <a href="./signin"class="sign-in">Sign In</a>
                <a href="/register"class="register">Register</a>     </div>
                       
        </nav>
    </main>