<html>

<head>
    <link rel="stylesheet" type="text/css" href="index.css" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>Register</title>
</head>

<body>
    <nav>
        <%- include navbar.ejs %>
    </nav>

    <div class="container-register">
        <img class='house-image-pic' src="/images/house-outline-clipart-house-roof-hi.png" />

        <div class="register-ac">
            <form action="#" id="register-acc">
                <h1>REGISTER</h1>
                <h4>Username</h4>
                <input type="text" id="username" name="username" placeholder="Enter new Username" pattern=".{5,}" required title="Must be longer than 5 characters" required>
                <h4>Password</h4>
                <input type="password" id="password" name="password" placeholder="Enter Password" pattern=".{8,}"   required title="8 characters minimum" required>
                <h4>Password Confirm:</h4>
                <input type="password" id="password2" placeholder="Password Confirm" required>
                <br>
                <button type="submit" id="register-submit">Register</button>
                <p>Already have an account? <a href="./signin">Login Now</a></p>
            </form>
        </div>

    </div>
    <div id="demo-acc">
        <p>
            <h1>Demo</h1> To login with a demo account use the credentials:
            <br> username: testing
            <br> password: 1234567890
        </p>
    </div>

    <footer>
        <%- include footer.ejs %>
    </footer>

</body>
<script src="index.js"></script>
<script src="account.js"></script>
<script src="http.js"></script>

</html>